name: Deploy to AWS ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push frontend Docker image
        env:
          ECR_REGISTRY: 236649525998.dkr.ecr.us-west-2.amazonaws.com          
        run: |          
          docker build --no-cache -t frontend ./frontend
          docker tag frontend:latest $ECR_REGISTRY/frontend:latest
          docker push $ECR_REGISTRY/frontend:latest

      - name: Build and push backend Docker image
        env:
          ECR_REGISTRY: 236649525998.dkr.ecr.us-west-2.amazonaws.com
        run: |
          docker rmi -f backend 
          docker build --no-cache -t backend ./server
          docker tag backend:latest $ECR_REGISTRY/backend:latest
          docker push $ECR_REGISTRY/backend:latest
          
